.order_list_table{
	width:1200px;
	border-collapse:collapse;
	border-spacing:0px;
	border:1px solid #ddd;
	margin:-1px auto 0;
}


.right_content{
	width:100%;
	float:right;
	min-height:400px;
}


.common_title2{height:20px;line-height:20px;font-size:16px;margin:10px 0;}

.order_list_table td{
	border:1px solid #ddd;	
	text-align:center;
}

.order_list_th{width:1198px;border:1px solid #ddd;background-color:#f7f7f7;margin:20px auto 0;}
.order_list_th li{float:left;height:30px;line-height:30px}
.order_list_th .col01{width:20%;margin-left:20px}
.order_list_th .col02{width:20%}


.order_goods_list{border-bottom:1px solid #ddd;margin-bottom:-2px;}
.order_goods_list li{float:left; height:80px;line-height:80px;}
.order_goods_list .col01{width:20%}
.order_goods_list .col01 img{width:60px;height:60px;border:1px solid #ddd;margin:10px auto;}
.order_goods_list .col02{
	width:50%;
	height: 40px;
	margin-top: 20px;
	line-height: 20px;
	text-align:left;
}
.order_goods_list .col02 em{color:#999;margin-left:10px}
.order_goods_list .col03{width:10%}
.order_goods_list .col04{width:20%}


.w980{
	width:980px;
}

.w978{
	width:978px;
}

.oper_btn{display:inline-block;border:1px solid #ddd;color:#666;padding:5px 10px}

.oper_btn:hover{
	background: #D6EAF8;
}

.title{
	width: 100%;
	height: 43px;
	/*background: blue;*/
	font-size: 16px;
	border-bottom: 2px solid #27AE60;
}

.title_text{
	height: 100%;
	width: 1200px;
	margin:0 auto;
}

.text{
	height: 100%;
	width: 200px;
	color: #fff;
	background: #1E8449;
	text-align: center;
	line-height: 43px;
}

.nav{
	height: 100%;
	width: 800px;
	/*background: red;*/
	margin-left: 20px;
	text-align: left;
	line-height: 43px;
	font-size: 13px;
	color: #196F3D;
}

.nav a{
	color: #196F3D;
}

.nav a:hover{
	color: #f40;
}